html {
    background-color: #f1b062;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home-presentation {
    text-align: center;
}



h1 {
    text-align: center;
    border-block: solid;
}

h3 {
    color: brown;
}

h4 {
    color: darkred;
}

img {
    text-align: center;
}

li {
    font-family: 'Courier New', Courier, monospace;
}

.title.ingredient{
    font-style: italic;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

